[2021-10-07 16:43] aquelemiguel opened #1 "Enqueueing a playlist halts the bot"
Running the `play` command with a YouTube playlist link freezes Parrot and makes it unable to handle new commands before all songs are enqueued.

[2021-10-07 17:54] aquelemiguel opened #3 "Playing music through keyword search isn't working"
Parrot is capable of directly playing local music files, downloading from single video and playlist URLs. This appears to be an issue with YTDL itself but further analysis is required.

[2021-10-07 18:07] aquelemiguel opened #4 "Add a limit to songs shown in queue command"
Currently there is no limit to the number of tracks in the queue. It'd be nice to have multiple pages to prevent a wall of text if there are dozens of songs.

[2021-10-07 18:10] afonsojramos opened #5 "Duration until play"
Duration until play is badly calculated. Below is an example where there were no other musics in the queue.

![image](https://user-images.githubusercontent.com/19473034/136439739-6db176c1-f819-40df-9e11-882272a0a28a.png)

[2021-10-07 18:44] #3 closed

[2021-10-07 19:09] aquelemiguel opened #7 "Add slash commands support"
Discord seems to be going in the direction of dropping bot prefixes for [slash commands](https://support.discord.com/hc/en-us/articles/1500000368501-Slash-Commands-FAQ#:~:text=Slash%20Commands%20are%20the%20new,command%20right%20the%20first%20time.), expecting all bots to migrate to it by April 2022. See [The Future of discord.py](https://gist.github.com/Rapptz/4a2f62751b9600a31a0d3c78100287f1).

[2021-10-07 22:37] #5 closed

[2021-10-07 22:52] aquelemiguel opened #9 "Implement "remove" command"
Allows for removing tracks in the middle of the queue.
Example usage: `!remove 2` pops the second enqueued track.

[2021-10-07 22:55] aquelemiguel opened #10 "Implement "playtop" command"
Allows for pushing songs to the top of the queue to be played up next.

### Usage
* `!playtop <song>` pushes a new track to the top of the queue.

### Notes
* If the bot isn't playing anything, the command should push to the first position.
* However, if it is currently playing, it should place the new track in the queue's **second position** as the topmost element will be the track that's now pla

[2021-10-07 23:24] aquelemiguel opened #11 "Clean messages after delay"
A toggle that makes Parrot clean after itself. For each message Parrot sends, after the specified delay it cleans both response and request messages. **It should only be callable by guild members with the Manage Messages permission**.

### Usage
* `!autoclean` defaults the delay to something like 5 seconds
* `!autoclean <delay in seconds>`

[2021-10-08 11:01] aquelemiguel opened #12 "Bundle dependencies with cargo run"
Explore the possibility of bundling a dependencies like FFmpeg into the executable.

[2021-10-08 11:02] aquelemiguel opened #13 "Setup unit testing and CI"
Explore the possibility of having unit tests and CI.

[2021-10-08 11:20] joao-conde commented on #13
Hey! I have some experience with unit testing in Rust and I can setup github actions for CI if you assign me.

[2021-10-08 11:56] aquelemiguel opened #14 "Implement "shuffle" command"
A command that shuffles the current queue.

### Usage
* `!shuffle`

[2021-10-08 12:11] aquelemiguel opened #15 "SponsorBlock integration"
[SponsorBlock](https://sponsor.ajay.app/) is an open-source crowdsourced browser extension and open API for skipping sponsor segments in YouTube videos. It also keeps track of non-music segments for music videos.

The idea would be enqueueing a song, using the API to search for non-music segments (e.g., cinematic parts in music videos, credits or intermissions) and automatically skip them when the

[2021-10-10 01:40] Antonio-Bennett commented on #10
Hi! I never worked on a discord bot before so I would love to try and solve this issue :)

[2021-10-10 02:32] VenturaPereira commented on #9
Hello, I'd like to take this issue!

[2021-10-10 15:38] #13 closed, assigned to joao-conde

[2021-10-10 18:16] #9 closed

[2021-10-10 20:26] #14 closed, assigned to giladwo

[2021-10-11 00:43] aquelemiguel opened #20 "Automatically server deafen self"
Parrot should **server deafen** itself to reduce both its and Discord's bandwidth usage.
This also protects the users' privacy by ensuring them we're not silently recording anything.

### Notes
* Assuming you haven't given your test bot the administrator role, implementing this will require you to grant it the **"Deafen Members"** permission.

### Reference
* [Why does Groovy (RIP) deafen itself?]

[2021-10-11 01:13] aquelemiguel opened #21 "Leaving a voice channel is broken"
There are possibly other scenarios where leaving a voice channel breaks the bot in unexpected ways however fixing these two main ones identified in the section below would be a nice start.

### Known issues
* Disconnecting from a voice channel either manually or via the `!leave` command while a song is being played makes it so subsequent commands are irresponsive (such as `!play` and `!np`). If yo

[2021-10-12 10:23] #4 closed, assigned to aquelemiguel

[2021-10-13 01:23] Antonio-Bennett commented on #10
That is definitely what I'm looking for! Can't believe I missed it 😭 Thanks a lot :)

[2021-10-13 01:57] aquelemiguel opened #22 "Improve command asynchronicity"
* Across the application, there are a handful of commands that lock the call mutex for more time than necessary (lock is done at the start of the command and released at the end).

* A critical overview of every command is expected to ensure locks are only done when strictly necessary as this prevents other commands from executing until the mutex is released.

+ The famous example is #1.

[2021-10-13 02:10] aquelemiguel opened #23 "Document required bot permissions"
Add a new section to the README listing the minimum permissions that should be granted to Parrot.
As of now, these are:
* View Channels
* Send Messages
* Manage Messages
* Embed Links
* Read Message History (untested!)
* Add Reactions
* Connect
* Speak
* Deafen Members
* Use Voice Activity

[2021-10-13 14:07] aquelemiguel commented on #10
Awesome, I'll take a look at it and give you feedback ASAP. 🚀

[2021-10-14 00:56] #10 closed

[2021-10-15 18:13] #20 closed

[2021-10-16 23:46] aquelemiguel opened #29 "Genius integration"
Explore integration with Genius API to explain lyrics/songs.

[2021-10-17 14:01] aquelemiguel opened #31 "Show lyrics for currently playing song"
Implement a `!lyrics` command that finds the currently playing song via the [Genius API](https://docs.genius.com/) and returns its lyrics.

[2021-10-17 22:25] rafaeldamasceno opened #32 "Create Dockerfile"
Add a `Dockerfile` for people to be able to deploy the bot in a containerized way.

[2021-10-18 13:45] #12 closed, assigned to joao-conde

[2021-10-18 21:15] rafaeldamasceno opened #34 "Docker image build fails to build openssl-sys"
After the recent changes in c53cb87b585bd5ec7e026557fac15810cde81439 (specifically, by the reqwest dependency), one gets this error when trying to build the Docker image:

[code]

[2021-10-19 09:48] #34 closed, assigned to nobody

[2021-10-19 21:18] afonsojramos opened #36 "Reduce the Docker image size"
Currently, the Docker image generated by the Docker file is too big, 2.4Gb big.

We should aim to reduce it the best we can.

[2021-10-20 15:24] afonsojramos opened #39 "Docker CI Build Fail"
Docker CI image build not working since `.env` is required.

[2021-10-20 16:52] #39 closed, assigned to afonsojramos

[2021-10-20 18:04] #23 closed

[2021-10-22 08:46] joao-conde opened #42 "Command `!autopause`"
Implement a new command: `!autopause`

The listening party mode works as a toggle:  starts as `OFF` -> `!autopause` -> becomes `ON` and vice-versa

The idea is that, if the listening party mode is `ON`,  after each track, the queue stops. This allows people to discuss the track they heard without having to pause the next song, and seeking it to 00:00 when they are ready. For example, if track 1 is

[2021-10-22 12:03] aquelemiguel opened #43 "Reduce `!play` duplicate code"
Right now, there are some instances where code is needlessly duplicated:

- Before playing, the `!play` command summons the bot into a voice chat if it wasn't in one before.
The `!summon` command does the same.

- The `!play` and `!playtop` commands do exactly the same except for the position where the new track is inserted.
So, for instance, changing the behavior of adding playlists requires one

[2021-10-22 12:21] aquelemiguel opened #44 "Add voting system to `!skip` and introduce `!forceskip`"
In larger servers, there needs to be a voting system in place for skipping songs so the queue cannot be griefed.
This means performing the following changes:

- `!skip` / `!s` should no longer immediately skip a track but instead display a new reaction-based voting system where `x` votes (maybe other metric?) skip it.
- `!forceskip` / `!fs` should be restricted to members with a **DJ permission**

[2021-10-22 12:28] aquelemiguel opened #45 "Allow prefix change"
Forcing users to use the `!` prefix can cause conflicts with other bots on the server.

Should this be an environment variable (easier but requires redeploying) or does it justify a whole new `!prefix` command usable only by admins (harder but allows for changing on the fly)? Requesting your inputs here, @afonsojramos and @joao-conde.

Regardless of the chosen approach:
* The bot's activity should

[2021-10-22 13:36] aquelemiguel opened #46 "Incorrect estimated time until play"
The estimated time until play is being calculated incorrectly - it should be the sum of the all the non-elapsed song durations before.
For instance, if song A is currently being played and is at `4:00 / 30:00` and song B is next and is `2:00` minutes long, then song C's estimated time until play should be `30:00 - 4:00 + 2:00 = 28:00`.

### Example

![image](https://user-images.githubusercontent.c

[2021-10-22 20:39] aquelemiguel opened #47 "Restrict queue modifying commands to a DJ role"
Commands that perform modifications to the queue or make the bot connect/disconnect should be locked to a role or be put behind a voting system (relates to #44). As of writing, this is every command except for informative ones, which should stay unmodified:
- `now_playing`
- `queue`
- ~`genius/explain`~
- ~`genius/lyrics`~

If a user does not have said role and tries to use the command, a message

[2021-10-24 22:21] joao-conde opened #49 "Chain commands"
## Rationale

Chaining commands allows for faster and easier use of the bot.

## Description

Commands should be able to be chained using some kind of `and` operator, sort of like Unix's `&&`. One could copy-paste a chain of commands and use that.

For example, suppose you want to pause, go to the start of the track and resume it. You would have to type and enter each of the following:

`!pause` +

[2021-10-25 00:28] aquelemiguel commented on #49
Great idea, good for manipulating the queue quickly.
I'd suggest `&&` as well, it should conflict the least with other commands.

[2021-10-26 11:02] rafaeldamasceno opened #50 "Spotify support"
## Rationale

Most people use Spotify to listen to tracks. They also usually have playlists on Spotify. It would be nice to have support for on-the-fly conversion of Spotify links.

## Description

When a Spotify link is given, fetch the artist and title of the track (or tracks, in the case of a playlist), and then feed them into `ytdl_search` as usual.

[2021-10-26 11:12] rafaeldamasceno opened #51 "Play command flags"
## Rationale

When playing a playlist, you sometimes want to shuffle the playlist before playing it. Sometimes you might even want to play it right after the current track, or even interrupt the current track and skip right away. These can be all achieved via flags and it was a much appreciated feature from [Groovy](https://groovy.zendesk.com/hc/en-us/articles/360031046952-Advanced-Usage-Flags).

[2021-10-29 10:19] aquelemiguel opened #53 "Add pagination system"
## Rationale

Right now, there are a few commands that require a pagination system.
`!queue` already has it and the code for it is relatively large. It'd be great to generalize this system for usage in other commands.

## Description

The response from Genius commands `!explain` and `!lyrics` can exceed the maximum size of the embed (especially the lyrics). If it does, the response should be split

[2021-11-13 01:59] StaticRocket opened #54 "Auto leave / join"
## Rationale

If the bot is the only thing in a voice channel it should automatically stop playback and disconnect to save resources. If the bot is kicked from the voice channel or leaves on it's own a play command should automatically summon it, assuming it's not already in another channel.

## Description

Automatically disconnect the bot if it's the only thing in a voice channel (either immedia

[2021-11-14 16:59] aquelemiguel commented on #54
Hi @StaticRocket, this is a great idea! 🤗

The play command actually already has a summon hook, but is a little busted right now (#21) - if the bot leaves the channel, it'll struggle to rejoin. Running the summon command usually fixes it.

A follow-up question: should the bot also automatically leave the channel if it hasn't played any songs for a few minutes? Maybe we could also save bandwidth th

[2021-11-14 20:29] StaticRocket commented on #54
I was thinking about that, considering other bots have that feature, but I also thing that feature could be more annoying than useful if the timeout is too low/high. Maybe if this is exposed in the environment file with a value of 0 to disable the feature?

[2021-11-16 11:27] aquelemiguel commented on #54
I'd maybe simplify and start with a default timeout of something like 10 minutes of the queue being empty.
Then after #45 is closed, we can think about the best way to change this timeout.

[2021-11-17 04:53] Antonio-Bennett commented on #47
Hey @aquelemiguel :) for this implementation how would you go about adding the role to a user. I know serenity has the User type and it can have flags but there isn't a DJ flag or anything. There is a moderator flag etc, however. https://docs.rs/serenity/0.10.9/serenity/model/user/struct.UserPublicFlags.html What were your thoughts on this?

[2021-12-10 12:02] joao-esteves commented on #54
I don't like how Hydra quickly disconnects when it's not playing a song. I like that Parrot doesn't implement this, however, a very high timeout could be okay.

[2021-12-14 23:44] Antonio-Bennett commented on #47
Hey @aquelemiguel @joao-conde I made this pull request that enables this functionality

[2021-12-14 23:53] joao-conde commented on #47
Hey @Antonio-Bennett !  We will be reviewing this ASAP and requesting changes or approving it right away. Thanks!

[2021-12-14 23:57] Antonio-Bennett commented on #47
Hey @joao-conde :) Thanks for the quick reply! For sure let me know if anything needs to change it was fun figuring this one out :)

[2021-12-27 21:04] #43 closed

[2021-12-28 02:13] aquelemiguel commented on #46
Hey @wang-edward, is this still being worked on? 🙂

[2021-12-28 03:40] wang-edward commented on #46
no, sorry :(

[2021-12-28 13:10] #21 closed

[2021-12-28 22:16] aquelemiguel commented on #46
No need to apologize! I will have a look at this then, thank you. 😊

[2021-12-29 14:52] #46 closed

[2021-12-29 15:06] aquelemiguel opened #59 "Large seek freezing"
## Description

The `!seek` command is blocking the bot. The larger the seek, the more time Parrot spends processing the request.

Seeking to further points in the track always yields larger and larger block times and is not relative to the current track position. This means that even if, for instance, the user successfully seeks to `4:00`, seeking to `4:05` takes a little bit longer than the init

[2021-12-29 15:07] aquelemiguel opened #60 "Cleanup clippy warnings"
Self-explanatory.

[2021-12-29 15:17] aquelemiguel commented on #45
@afonsojramos Any advancements on this? 🙂

[2021-12-30 03:38] aquelemiguel commented on #59
Fixed by replacing `youtube-dl` with `yt-dlp`.

[2021-12-30 13:24] #59 closed

[2022-01-04 00:00] #60 closed

[2022-01-04 12:33] joao-conde commented on #45
I think this issue and the listening party mode both require storing simple data but that needs to be associated with the server that called the command. As we discussed, a single parrot instance can then be used by multiple servers. The way current commands work for parrot running in the current server, is by the received context (which allows us to extract the server and a lock to the parrot ins

[2022-01-04 12:54] afonsojramos commented on #45
I'm already mid-development on this, I just need some time to figure out the inner workings of serenity.

[2022-01-04 12:58] aquelemiguel commented on #45
@afonsojramos What is the approach you've settled on?

[2022-01-04 13:36] aquelemiguel commented on #45
Good find, looks promising!
Joining your suggestions, I'd ask if this approach looks correct:

* Let a prefixes file map guild IDs to prefixes.
* When booting the bot, if this file already exists, import it into `context.data`.
* If this specific guild could not be found in the context, use the default Serenity prefix `~`. Send a message prompting server owners to use the command `~prefix` to chan

[2022-01-04 13:45] joao-conde commented on #45
Great, this is what I wanted: https://docs.rs/serenity/latest/serenity/client/struct.Client.html#structfield.data
Essentially we can store data and it is passed to each context, from what I understood. That solves the issues with `!autopause` command and `!prefix`. Except it does not guarantee persistency, i.e., when the bot is restarted. I would almost suggest we do it in separate issues and deal

[2022-01-04 20:03] #54 closed

[2022-01-06 21:07] joao-conde opened #71 "Version command"
## Rationale

A command to display the Parrot version used.

## Description

A `!version` command that sends a discord message with the Parrot version running.

[2022-01-07 00:53] #45 closed

[2022-01-07 02:02] #71 closed

[2022-01-08 17:56] joao-conde opened #76 "Documentation & Static Docs Site"
## Rationale

Documentation helps newcomers grasp how Parrot does what it does (best). It also helps current maintainers because we can't rely on having it all committed in memory.

A nice static website generated by `cargo doc` which looks like [the default Rust codebase doc site](https://docs.rs/serenity/latest/serenity/) would be nice to host on Github pages of this repository for instance.

##

[2022-01-08 18:29] afonsojramos commented on #76
As we are not a library nor a API, does it still make sense to use the default Rust Docs style of documentation? Wouldn't just better detailing some outlines in the Wiki be simpler and better adapted to our use case?

[2022-01-08 18:37] joao-conde commented on #76
I thought about that too but I think the module documentation would help people diving into code. And since after having that all you need is to run `cargo doc` it seems like low-hanging fruit for me.

Also, despite being mostly a binary crate, for whatever reason I could want to use parrot as a library, perhaps to extend it (?).

[2022-01-08 19:29] joao-conde commented on #49
Starting to think this may not be as useful as I initially thought (especially after implementing `!autopause` for listening parties). I am in favor of closing, but maybe one of you grew fond of the feature @afonsojramos or @aquelemiguel ?

[2022-01-08 20:06] aquelemiguel commented on #49
In theory I like the idea but I'm thinking it might be extra tough to implement. Imagine `~play && ~seek`, how would we go about waiting until the song gets queued? I'm fine with closing.

[2022-01-08 20:38] joao-conde commented on #49
I anticipate an ugly solution that will not add much value. Closing for now.

[2022-01-08 20:38] #49 closed

[2022-01-09 03:07] afonsojramos commented on #53
Wouldn't this mean that we would need to constantly update the message?

I can try and tackle this one 👀

[2022-01-11 01:12] aquelemiguel commented on #7
Yeah, confirmed: https://support-dev.discord.com/hc/en-us/articles/4404772028055-Message-Content-Privileged-Intent-for-Verified-Bots

[2022-01-11 16:40] danrpinho opened #88 "Unresponsiveness with long songs"
## Description

When playing long songs, such as radios or playlists (which usually run about an hour long), the bot suddenly stops playing audio and stops responding to commands.

## Expected vs. Observed

| - | - |
| --- | --- |
| **Expected** | The song plays until the end, and users can input commands. |
| **Observed** | The audio playback stops (around the 30-minute mark) and the bot does not

[2022-01-11 18:35] afonsojramos commented on #88
I can confirm that this happens as well. I haven't had many occasions where I listened to long videos, however, everytime that I have, it has stalled at some point.

Ps: I think this is unrelated to the Windows bug that we've discovered the other day @aquelemiguel @joao-conde

[2022-01-11 18:55] aquelemiguel commented on #88
I think it just might.
Now that I think of it, we're getting songbird directly from their current branch because of yt-dlp compatibility:

[code]

I wonder if something wrong was pushed. I'm 99.99% certain it isn't our code but a dependency.

[2022-01-11 19:19] aquelemiguel commented on #88
Thank you for the bug report, @danrpinho.

It just might, @afonsojramos, they seem too similar... 99.99% chance it's unrelated to our code however, given v0.2.0 is also failing now. Should most likely be some funky dependency on both issues. I'm still investigating this.

[2022-01-11 19:32] afonsojramos commented on #88
The thing is that your case @aquelemiguel does not fail on Linux, and this one does. If it IS the same problem, it is much worse on Windows vs Linux.

[2022-01-11 19:34] aquelemiguel commented on #88
It's the same issue, no? Only that on Windows it freezes after a minute or so and on Linux it's half an hour.

[2022-01-12 13:56] rafaeldamasceno commented on #88
This issue is, sadly, a regression. 51a99370dcb26de7a13248024680d83c78299a59 is a good commit (and possibly the last if you say v0.2.0 is now failing).

[2022-01-12 14:09] joao-conde commented on #88
@rafaeldamasceno  thanks for testing it <3 So you mean that commit works fine for you? Let us all test and double-check that. If that is confirmed, would that mean 2b7f635293842a30a5871882cc9b521f88a92b06 to e1c0249214d0b76b6cc2ad23f124f94592d8bf2e are the culprit? Let's test that as well.

[2022-01-12 14:31] aquelemiguel commented on #88
God's work, @rafaeldamasceno. 💖

I can also confirm [`51a9937`](https://github.com/aquelemiguel/parrot/commit/51a99370dcb26de7a13248024680d83c78299a59) is working on Windows and failing on [`2b7f635`](https://github.com/aquelemiguel/parrot/commit/2b7f635293842a30a5871882cc9b521f88a92b06) meaning that it was the transition from youtube-dl to yt-dlp. In order to get yt-dlp, we're getting the latest

[2022-01-12 15:09] aquelemiguel commented on #88
Guys over at Serenity's Discord seem to have repro'd it.

![image](https://user-images.githubusercontent.com/5618493/149166671-ec9351c8-267e-4297-93e4-e5271c169bd4.png)

[2022-01-12 16:05] joao-conde commented on #88
Seems to be this will be an easy fix 😄 Let us wait for a Serenity patch release and see. Preferably we should stop depending on the current branch, so if they do make a release with the fix, we should swap to the version.

[2022-01-12 16:55] afonsojramos commented on #88
Waiting it out it is then 🤓 Awesome, thanks for contacting them directly @aquelemiguel!

[2022-01-18 15:58] aquelemiguel commented on #15
Just found out [yt-dlp supports SponsorBlock](https://github.com/yt-dlp/yt-dlp#sponsorblock-options) and you can remove certain categories. No need for FFmpeg gimmicks.

However, in order to run our own custom yt-dlp commands, we'd need to ditch `Restartable::ytdl` - instead download the song and pass it to `Restartable::ffmpeg`.

![image](https://user-images.githubusercontent.com/5618493/14997215

[2022-01-18 16:48] joao-conde commented on #15
We have to see what `Restartable::ytdl` does again, with a proper look. If it simply uses `yt-dlp` for metadata and pipes that to `Restartable::ffmpeg` then it will be easy.

[2022-01-19 17:24] #7 closed

[2022-01-19 19:59] afonsojramos opened #90 "Skip current song on `/remove 0`"
## Rationale

`/remove 0` currently replies with an error message. Should this behaviour change?

## Description

I propose that a `/remove 0` skips the current song, as the tooltip even suggests that 0 is the currently playing song.

## Reference

![image](https://user-images.githubusercontent.com/19473034/150204575-92e17da6-b046-46ff-95e4-b7b9de77ca57.png)

[2022-01-19 20:11] aquelemiguel commented on #90
As you know, I'm sort of against this because I still support that users aiming to use `/remove 0` probably got confused with indexes and weren't looking to skip the current song. For that, they would have used `/skip`.

However, if @joao-conde (or anyone else) pushes for this behaviour, I'll gladly approve it.

[2022-01-19 20:14] joao-conde commented on #90
I like the idea of `skip`ping

[2022-01-19 20:15] aquelemiguel commented on #90
Then it's set.

[2022-01-20 02:23] afonsojramos commented on #53
Closing this as the genius API was deprecated in `v1.0.0`. Let me know if I'm wrong! ✌️

[2022-01-20 02:23] #53 closed

[2022-01-20 02:27] afonsojramos commented on #90
I think we need more opinions on this. Tagging @rafaeldamasceno @danrpinho, known users of Parrot 👀 🦜

[2022-01-20 10:04] rafaeldamasceno commented on #90
I can't think of a single instance where I would possibly want to use `/remove 0` instead of `/skip`. If you think that `/remove 0` is somewhat suggested from the current parameter description and error message, they should probably be reworded to make a clear distinction between the queue and the current playing track (i.e. remove messages that suggest that 0 is the current playing track and make

[2022-01-20 10:19] joao-conde commented on #90
@rafaeldamasceno `remove` exists to remove a certain track (e.g. `remove 2` removes the 3rd song in the queue)

The question here is that the user might input `"0"`. What should we do? Currently we just print a message like "Invalid index". I think it makes sense to skip. Semantically, if I want to remove a track and I say remove the current one, I expect it to skip it.

But now that I think about

[2022-01-20 11:03] afonsojramos commented on #90
Agree with @rafaeldamasceno that maybe the text should be clearer. As it was my first suggestion in #89, I'd say to simply ignore the command if the user sends a `remove 0`. Additionally, as @rafaeldamasceno suggests, in the remove tool tip, say that the next track is `1`, instead of saying that the current one is `0`.

Disagree with @joao-conde on the `remove 1` skipping to the next track.

I'd s

[2022-01-20 11:12] aquelemiguel commented on #90
For context, this is the output of our queue command:

![image](https://user-images.githubusercontent.com/5618493/150324193-ed6cf313-69a4-4c37-a5bb-eb1bb1235ae0.png)

I personally don't consider the currently playing track as being part of the queue (even if Songbird considers it so). For me (and I'd argue most people), the queue is only for tracks that are waiting to be played. And like a real li

[2022-01-20 11:17] rafaeldamasceno commented on #90
@joao-conde To me, your suggestion sounds a bit nuts 😅

I'm not going to comment on the internals of the code and on what a queue acually means there. However, from a user perspective, the queue does not include the currently playing track, as @afonsojramos and @aquelemiguel just mentioned. If this is the case, `remove` should be to remove *queued* tracks, not *any* track. For this reason, the ind

[2022-01-20 11:23] aquelemiguel commented on #90
Careful as with slash commands, if you do not provide an interaction reply, the bot will fail with an ugly generic message. We should now always handle unexpected arguments or restrict what the user can type, like such:

![image](https://user-images.githubusercontent.com/5618493/150329615-77cde9b9-9847-46a3-832d-b83a6c804adb.png)

[2022-01-20 11:39] aquelemiguel opened #92 "Live update queue command"
Changes to the queue (either new tracks being added or a track that finished playing) should automatically update the queue response interaction instead of the user having to click the arrow buttons to refresh it.

Visually, the queue button components could use a little change:
* Disable buttons when it's not possible to navigate to a specific page
* Use alt-codes instead of emojis
* Use primary

[2022-01-20 11:39] joao-conde commented on #90
Was just my opinion :) Like you just gave yours. No error message is not necessarily bad UX. As a matter of fact, in terms of my user experience I would prefer what I described. So as you see, UX is relative, and commonly adopted practices are no more than opting by what MOST people would prefer :)

[2022-01-20 11:48] afonsojramos commented on #90
As such, I will then close this ticket, since the current behaviour of allowing for a `remove 0` with an error message still seems very much in line with a good UX.

[2022-01-20 11:48] #90 closed

[2022-01-20 11:57] rafaeldamasceno commented on #90
Yes, and I didn't mean any of it on an absolute way 😁

I agree. For example, if I'm running terminal applications, this is what I'm expecting as well. However, in the context of slash commands, I do not believe this is the case.

Absolutely. In fact, I would be totally fine with the behavior you described, but I was simply thinkiong of what the common user would be more comfortable with. 😉

I'll c

[2022-01-20 12:16] rafaeldamasceno opened #93 "Improve remove index's tooltip and parameter type"
## Rationale
Currently, when selecting a track to be removed from the queue, it isn't immediately obvious how it is going to work.

## Description

The UX of selecting the track to be removed could be improved with a tooltip that better clarifies how the queue indexing works. Additionally, the index parameter could be converted to an `INTEGER` option.

## Reference
[Application Command Option Type

[2022-01-20 12:18] rafaeldamasceno commented on #93
@aquelemiguel @joao-conde Do you think this is feasible within the current codebase? I haven't really looked at the code besides changing some aliases in the past, so I have no idea if it would be easy for me to pick this issue up :D

[2022-01-20 12:43] aquelemiguel commented on #93
We're using `Position of the track (0 is currently playing)` as a tooltip for the index argument. I'd agree this is counter-intuitive (would make you believe skipping 0 is valid). Open to suggestions for more clear phrasing here. 👍

Already is. 🙂

https://github.com/aquelemiguel/parrot/blob/fd2a0c08984b790f9468fb74eb37c5930abc4b59/src/events/serenity_handler.rs#L77-L88

[2022-01-20 13:40] afonsojramos commented on #93
As I said on #90, I think that we should change the tool tip to indicate that the next track is 1, instead of saying that the current one is 0.

[2022-01-20 15:04] rafaeldamasceno commented on #93
This is what I'm aiming for, in addition to making it explicit that it removes the tracks from the queue.

Oops @aquelemiguel , you're absolutely correct! I thought that it wasn't because Discord let me input free text, but it validates for the integer only when you try to send it.

What I can actually improve is the validation for out-of-bound integers, because inputing a negative integer current

[2022-01-21 11:30] danrpinho opened #94 "Queue commands stop working while a livestream is in the queue"
## Description

Adding a livestream (for example, a music radio) to the queue makes some commands stop working. The `/play` command stops showing which video was added to the queue (even if the video has a fixed length), while `/queue` and `/np` show error messages. The `/skip` command functions as expected, and the commands start working again after livestream playback ends.

## Expected vs. Obse

[2022-01-21 11:35] danrpinho commented on #94
After poking around with the bot's behaviour with @rafaeldamasceno, we found out that it is possible that the bot doesn't know how to handle videos without a fixed duration. All commands that stop working showcase the livestream's information:

- `/np` works with a regular song while the livestream is in the queue because it only shows that video;
- Both `/np` and `/queue` stop working while the l

[2022-01-21 12:11] afonsojramos commented on #93
Taking this issue, and already found a few bugs on the `remove_index` caused by all the unwraps in line `25`:

[code]

[2022-01-21 12:18] joao-conde commented on #93
It's specifically the line 32 one, where we had cast it to `u64`. So your input was not convertible to `u64`? Or you are on a 32-bit machine which I doubt

[2022-01-21 12:20] aquelemiguel commented on #93
@afonsojramos Interesting, what command did you try?

[2022-01-21 12:20] afonsojramos commented on #93
Yep, good guess, it's because I tried with a negative number, already making changes to handle this ;)

[2022-01-21 12:46] aquelemiguel commented on #94
@danrpinho Thank you for the report. 🙂
I repro'd this as well and converged on a few dangerous unwraps for `metadata.duration`. For example:

https://github.com/aquelemiguel/parrot/blob/fd2a0c08984b790f9468fb74eb37c5930abc4b59/src/commands/queue.rs#L131-L135

The duration field isn't set for livestreams so we should handle the `Option` instead of unwrapping.

[2022-01-21 12:50] rafaeldamasceno commented on #94
@aquelemiguel Is there any way you can set +∞ for the value of the duration of livestreams when handling the `Option`? Floating point arithmethic should work fine (adding to infinity should return infinity as well), and then maybe rendering a cute ∞ on /np, /play (estimated time until play), and /queue?

[2022-01-21 12:53] rafaeldamasceno commented on #93
As for the tooltip for the index parameter, I suggest `Position of the track in the queue (1 is the next track to be played)`.

[2022-01-21 13:02] afonsojramos commented on #93
I had made the changes before seeing your comment @rafaeldamasceno, and I used a more "barebones" description, but yours does seem more eloquent.

As it can be seen in the PR:
![image](https://user-images.githubusercontent.com/19473034/150531099-a8dbf202-6afb-4386-9524-5eb10366d0c1.png)

[2022-01-21 14:05] aquelemiguel commented on #94
@rafaeldamasceno I'm in favour of a cute ∞. 😊

[2022-01-21 19:01] afonsojramos opened #97 "Use Serenity's built-in input validation"
## Rationale

Discord has input validation built into the app, however, Serenity has not released/implemented all of them, like in [create_application_command.rs#L163](https://github.com/serenity-rs/serenity/blob/cfd518e328697525339175ef6ed4a1f69ec9ba86/src/builder/create_application_command.rs#L163) which would help in #93/#95.

## Description

When [Serenity](https://github.com/serenity-rs/seren

[2022-01-21 19:05] #93 closed

[2022-01-22 16:32] aquelemiguel opened #100 "Env flag to register app commands to guild"
Since the introduction of slash commands on #89, new commands have been harder to test because [new global application commands are only available in guilds after 1 hour](https://docs.rs/serenity/latest/serenity/http/client/struct.Http.html#method.create_global_application_command). It doesn't seem right that we have to wait this much time while developing or reviewing PRs.

I also dislike using [

[2022-01-22 16:50] joao-conde commented on #100
You can change it once, stash the changes with git and pop it when you are working locally. Does not seem to be a huge hassle

[2022-01-22 16:51] afonsojramos commented on #100
This is only relative to new commands right? I think that this is just something that we have to keep in mind when reviewing and when developing. 🤔

[2022-01-22 18:02] #42 closed

[2022-01-22 23:32] afonsojramos opened #101 "Move all strings to `strings.rs`"
## Rationale

`strings.rs` is a really good starting point for future translations, so we should move as many strings to there.

[2022-01-23 00:47] afonsojramos commented on #97
I think this was one of those cases that as soon as you complain, things happen, because Serenity just released [v0.10.10](https://github.com/serenity-rs/serenity/releases/tag/v0.10.10)!

I'll investigate in how many commands we can implement these new features!

[2022-01-23 19:05] aquelemiguel commented on #100
Thank you for your inputs guys, I'll close it for now.

[2022-01-23 19:05] #100 closed

[2022-01-23 19:26] aquelemiguel opened #102 "Drop `youtube_dl` crate in favour of `yt-dlp` command exec"
We're only using the [`youtube_dl`](https://crates.io/crates/youtube_dl) crate for fetching the songs within a playlist.
This is overkill since we're using yt-dlp as well. Investigate executing a yt-dlp command (possibly with the `--flat-playlist` flag).

[2022-01-23 19:33] aquelemiguel opened #103 "Bump Serenity to v0.10.10"
Always good to bump Serenity. Also unlocks #97.

[2022-01-23 21:18] afonsojramos commented on #103
On it to update for #97!

[2022-01-23 22:23] #101 closed

[2022-01-24 00:00] #92 closed

[2022-01-24 00:00] #94 closed

[2022-01-24 02:16] aquelemiguel opened #107 "Bump Songbird to v0.2.1"
This version supports yt-dlp, so we no longer need to be dependent on the current branch.

[2022-01-24 10:35] afonsojramos opened #110 "Add `cargo.lock` to the repository"
As described in Rust's documentation, the `cargo.lock` [should be added to the repository in binaries](https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries).

This ticket will also fix possible version mismatches that can happen, as it could be seen in #103.

[2022-01-24 11:24] rafaeldamasceno commented on #51
I'd like to return to this feature, since it's the one I miss the most and I want something to start out with the code as well. Do you think it makes sense to keep the flags in the query, or should I make these optional booleans in the slash command?

[2022-01-24 11:39] #107 closed

[2022-01-24 11:40] afonsojramos commented on #51
Definitely adding these as optional booleans is the way to go moving forward for any additional arguments imo!

[2022-01-24 12:46] #97 closed

[2022-01-24 12:46] #103 closed

[2022-01-24 12:46] #110 closed

[2022-01-24 12:57] aquelemiguel commented on #51
@rafaeldamasceno I reckon this is a good chance to use [select menus](https://discord.com/developers/docs/interactions/message-components#select-menus) as they support both single and multiple selections.
Was it possible to use multiple flags on Groovy?

[2022-01-24 13:03] #102 closed

[2022-01-24 14:12] rafaeldamasceno commented on #51
Yes, it was.

Yes and no... Do we want to break the current flow of just posting the query and having the bot reply? We'd need to have this intermediate step to select the flags (which I don't even know if is possible to do in the same slash command as the one that receives the query), or create a new command for using the flags. None of these options seem good to me.

[2022-01-24 14:17] afonsojramos commented on #51
@rafaeldamasceno have you tested it out? I'm pretty sure it is pretty seamless using discord's built-in optionals and stuff

[2022-01-24 14:22] rafaeldamasceno commented on #51
@afonsojramos No, but I'm pretty sure that select menus are not part of the command options, but instead part of the message components. This would mean having to use `play` (or any other command for this purpose), having the client render the select menu, and only then we would have the correct flags. This contrasts versus using play and having all the flags as optional boolean application comman

[2022-01-24 14:36] aquelemiguel commented on #51
@rafaeldamasceno You're absolutely right, I was confusing that with [application command option choices](https://discord.com/developers/docs/interactions/application-commands#application-command-object-application-command-option-choice-structure).
Unsure of the limitations (this is still quite new) but maybe something like this? 🤷‍♂️

![image](https://user-images.githubusercontent.com/5618493/1508

[2022-01-24 14:37] aquelemiguel commented on #51
@rafaeldamasceno Do you want me to assign you to this topic?

[2022-01-24 14:37] rafaeldamasceno commented on #51
Yes, please.

[2022-01-25 13:20] aquelemiguel commented on #47
Don't know how to use it but this looks like the new way to [set permissions for application commands](https://docs.rs/serenity/latest/serenity/builder/struct.CreateApplicationCommandsPermissions.html#). Could be useful.

[2022-01-25 13:44] joao-conde commented on #47
Yup, I am going to use that, I discussed it in Serenity's discord

[2022-01-25 17:47] afonsojramos commented on #44
I'd like to take this issue after #115 is merged :eyes:

[2022-01-25 23:09] afonsojramos opened #116 "Playing songs on a different channel"
Playing songs while on a different channel than the bot should not be possible. This is a blocker for big servers with a lot of voice rooms.

## Expected vs. Observed

| - | - |
| --- | --- |
| **Expected** | Not being able to send play commands to a bot that is in a different channel. |
| **Observed** | Ability to send play commands to a bot that is not in the same channel as the user. |

## Repr

[2022-01-25 23:21] afonsojramos opened #117 "`/play` panic while outside channel"
## Description

Trying to use the command `/play` while not in the channel creates a thread panic.

However, weirdly enough, this does not happen with a `/summon` command.

This does not impact the functionality of the bot, therefore it is very low priority.

## Screens

![image](https://user-images.githubusercontent.com/19473034/151075167-bff6edb6-854c-431b-b3e1-eccc58f9481a.png)

[2022-01-26 01:39] aquelemiguel commented on #116
Good catch, we should even expand this to basically all commands?

[2022-01-26 02:14] #117 closed

[2022-01-26 02:46] aquelemiguel commented on #116
@afonsojramos I get what you say, but still feels a little weird to be capable of skipping a song that's playing on another channel.
Maybe others can chime in on which commands fit this restriction. #119 is currently just for `/play`.

[2022-01-26 02:53] afonsojramos commented on #116
That's also true...

[2022-01-26 10:33] #47 closed

[2022-01-26 14:53] aquelemiguel opened #120 "`/summon` should always move the bot to the summoner's channel"
If the bot is already connected to another voice channel, `/summon` replies with "I'm already here!".
This is not very accurate. The bot should not fail and move to the summoner's channel.

![image](https://user-images.githubusercontent.com/5618493/151185715-103ac82d-6cbc-4521-ac12-736c9b3a4dec.png)

[2022-01-27 01:21] #116 closed

[2022-01-27 12:00] afonsojramos commented on #120
Are we sure this is the intended action? What if the bot is playing something for someone else? I think that it should continue to not move the bot on command.

[2022-01-27 15:36] aquelemiguel commented on #120
Yeah, I can see that being annoying. I'll just change the message to say it's already on another channel.

[2022-01-27 15:59] #120 closed

[2022-02-01 10:40] joao-conde opened #123 "Message Translations"
## Rationale

Add translations to change the default parrot language from English to something else.

## Description

- Each message sent to the guild server must be translated.
- It should default to English.
- New translations can be easily added by open source contributors

[2022-02-01 10:40] joao-conde commented on #123
@aquelemiguel @afonsojramos I think we discussed this at a certain point. I have an idea of how to do it. Leave it to me if you agree with the issue.

[2022-02-01 10:52] joao-conde opened #124 "Serialize/Deserialize `GuildSettings` for persistency"
## Rationale

We should have persistent-based settings (for example for the default Parrot language for that guild).
These settings need to be persisted and read at the start.

## Description

Serialize and deserialize the current `GuildSettings` struct. Attributes that should be persisted should be settings, others should be guild cache.

This should be done in a more generic way so that any new

[2022-02-01 10:53] joao-conde commented on #124
@afonsojramos @aquelemiguel adding a triage label. If we all approve the issue, we consider it and remove the triage label. I would want to take this one.

[2022-02-01 11:11] afonsojramos commented on #123
Yeah, the big move to simply using the `strings.rs` file was mostly to address this. Go ahead!

[2022-02-01 11:14] afonsojramos commented on #124
It's easy to imagine when the deserialization will happen, but when would the serialization happen?

[2022-02-01 11:22] aquelemiguel commented on #123
Sure, removing other contributors from this.

[2022-02-01 11:25] joao-conde commented on #123
Yes, but at the same time, the translations will no longer be stored in code and therefore not part of the release binary. This would make no sense for tons of translations.

Currently thinking of storing the translations in JSON files making it easier to change or add new ones without changing the codebase.

[2022-02-01 11:26] joao-conde commented on #124
That's a great point that I did not think through. I have no idea right now, I will think about it and get back to this.

[2022-02-01 12:17] afonsojramos commented on #124
This was exactly my problem when I was developing #69.

Maybe the merge_json function could be re-added for this to work.

[code]

[2022-02-01 12:32] afonsojramos commented on #123
I actually had already investigated a bit on how to do this properly with community integrations and stuff and I've found that platforms such as https://crowdin.com/ or https://weblate.org/en-gb/ offer a really good interface for managing the translations. Maybe it is a bit overkill, what do you think?

[2022-02-01 12:35] joao-conde commented on #124
The function helps in merging JSONs, not so much the problem at hand which is WHEN to in fact save/serialize the settings.

It could end up being done in the same way as before when a setting changes. But I will look better into it. We can also just use eventual consistency as these settings are not that critical.

[2022-02-01 12:36] joao-conde commented on #123
Seems a bit overkill to me but nonetheless when I have time I will look into them.

[2022-02-01 12:39] afonsojramos commented on #124
It does because you can use it every time you update the settings, that was my point, which you can observe that it is what is happening in #69.

[2022-02-01 12:42] joao-conde commented on #124
Again, it is not related. I know how to merge JSONs, and eventually, I would use that function. The problem/issue remains of WHEN to merge and save it (should it be done every time a setting is updated, like we have done in #69 ? Maybe yes, maybe not, all I am saying is that this is the issue at hand).

I meant, routinely saving the settings, periodic handler fashion. This would not guarantee that

[2022-02-01 18:18] afonsojramos opened #126 "Unsafe unwrap at `np`"
Unsafe unwrap at `np` due to lack of `check_voice_connections` at `serenity.rs`.

![image](https://user-images.githubusercontent.com/19473034/152027278-0f20ae64-5548-488f-ba78-ab6617954642.png)

[2022-02-02 00:54] #126 closed

[2022-02-02 15:33] afonsojramos commented on #50
I'm going to tackle this next, if no one opposes!

[2022-02-02 15:39] aquelemiguel commented on #50
I'm currently doing some refactoring in [`source-getters`](https://github.com/aquelemiguel/parrot/tree/source-getters) that prepares for implementations in both #15 and #50. I'd suggest either waiting or continuing work on that branch before tackling this.

[2022-02-02 18:58] #44 closed

[2022-02-02 23:12] afonsojramos opened #129 "`np` & `queue` error messages"
## Description
Some errors introduced in #122 (image 1) were partially fixed in #125, however, this also introduced a bug (image 2).

## Observed behaviour
1. Image 1 - Bot is not connected
![image](https://user-images.githubusercontent.com/19473034/152252617-281fe2fc-19ce-4a24-abdf-b3cbaaf37b96.png)

2. Image 2 - User is not connected
![image](https://user-images.githubusercontent.com/19473034/15

[2022-02-02 23:40] #129 closed

[2022-02-03 19:06] UnlimitedCookies opened #131 "Add `DISCORD_APPID` to docs + Better error message for missing env variables"
## Description

The bot doesn't start and shows this message instead and immediately exits:
[code]
I've tried both the ghcr.io image and also compiled it from git with the newest rust nightly version.
The DISCORD_TOKEN env variable was set.

## Expected vs. Observed

It's expected to start or show a helpful error message.

## Repro Steps

1. Download the current docker image and run it
2. Start th

[2022-02-03 20:13] afonsojramos commented on #131
Hi @UnlimitedCookies!

The `Error: NotPresent` shows up when one of the environment variables is not set.
Did you also set `DISCORD_APPID`? You need both env vars.

[2022-02-03 23:56] UnlimitedCookies commented on #131
Oh, yep - that fixed the issue.
You should definitely add this to the documentation. Also, the error message could be a little more helpful imo.

[2022-02-04 00:46] afonsojramos commented on #131
Truly thought we had that, will update!

Thanks for the issue @UnlimitedCookies!

[2022-02-04 00:56] UnlimitedCookies opened #133 "Panic on Option unwrap in skip.rs"
## Description

While running the bot I got this error message:
[code]
[
Relevant code](https://github.com/aquelemiguel/parrot/blob/main/src/commands/skip.rs#L64)

## Expected vs. Observed

I expect it to not panic. Maybe a match needs to be used here.

## Repro Steps

I don't exactly know how I was able to get this error, but my bug report alone should be an indication that this indeed can be a `

[2022-02-04 01:00] UnlimitedCookies commented on #131
Awesome! Perhaps you could also add it to the `Readme.md` for now?

Later down the road, I suggest adding a wiki page with all the possible environment variables.

[2022-02-04 01:02] afonsojramos commented on #133
What version are you using @UnlimitedCookies?

@aquelemiguel are we missing some initialization in `client.rs`? This is happening here:

[code]

[2022-02-04 01:04] afonsojramos commented on #131
I already updated the Wiki (Step 7), but will also make a revision to the `readme.md` in my PR, thanks!

[2022-02-04 01:11] UnlimitedCookies commented on #133
I am on `v1.2.1-0-g6d35a93` of parrot
and I compiled the binary with rust `1.60.0-nightly (27f5d830e 2022-02-02)` in release mode.

[2022-02-04 01:34] aquelemiguel commented on #133
Thank you for your report, @UnlimitedCookies. 🙂

I was able to replicate this by playing a track and just letting it finish.
For context, this is the line in question:

https://github.com/aquelemiguel/parrot/blob/6d35a93fc99941ffa7ce2801a8df2d0eab015a09/src/commands/skip.rs#L64

This unwrap is dangerous because the `GuildCacheMap` struct only has a guild ID if we had previously called `/queue` or

[2022-02-04 01:37] aquelemiguel commented on #133
BTW, this does not break functionality at all, but does looks bad in the terminal.

[2022-02-04 01:40] #131 closed

[2022-02-04 02:14] #133 closed

[2022-02-07 00:12] rafaeldamasceno opened #136 "Skip vote count takes everyone into account"
## Description

Currently, the skip vote takes into account the number of people connected to any voice channel in the guild, and not the people connected to the voice channel the bot is in.

## Expected vs. Observed

| - | - |
| --- | --- |
| **Expected** | The bot only takes into account the number of people connected to the same voice channel as itself. |
| **Observed** | The bot takes is count

[2022-02-07 12:43] afonsojramos commented on #136
Well, knowing where the bug is is easy [skip.rs#L35](https://github.com/aquelemiguel/parrot/blob/main/src/commands/skip.rs#L35), I'll need to investigate how to fix it, but it should revolve around checking which ones are connected to the same channel.

[2022-02-07 18:35] #136 closed

[2022-02-08 15:29] aquelemiguel opened #138 "Last.fm support"
- [ ] Add support for [Last.fm's API](https://www.last.fm/api)
- [ ] Explore the [rustfm-scrobble](https://crates.io/crates/rustfm-scrobble) crate
- [ ] Auto-scrobbling for users connected to the same voice channel as the bot
- [ ] Show error message if the Last.fm API key environment variable isn't set
- [ ] Add `/lastfm register` command to allow Parrot to automatically scrobble for this user

[2022-02-08 18:34] afonsojramos commented on #138
Depending on how the `/lastfm register` will work, we will likely need to save some sort of token.

It is not required, but we should take care of #124 before this.

[2022-02-08 18:35] afonsojramos commented on #124
Hey @joao-conde any updates on this one? :eyes:

[2022-02-08 18:55] joao-conde commented on #124
Haven't implemented anything, but I think the serialization should be:
- done for the struct entirely (read and write whole settings)
- done when we change some setting (altering prefix for example)

[2022-02-12 18:20] StaticRocket opened #139 "Add playlist command to force playlist enqueueing"
Links that have playlist info embedded in them aren't always unraveled correctly and currently this is because it expects a very precise URL. How about instead of trying to guess what links should be unraveled we provide a new command `/playlist` to specifically indicate when we expect a playlist to be unraveled and enqueued?

This will prevent users from having to fiddle with the link in cases wh

[2022-02-12 20:29] aquelemiguel commented on #51
Just an FIY, after #135 we **may** use custom [yt-dlp arguments](https://github.com/yt-dlp/yt-dlp#usage-and-options) to help us implement some flags.
Could be handy, but haven't checked in detail.

[2022-02-12 20:37] StaticRocket commented on #139
Ah, cool, yeah that does seem more appropriate. I didn't notice that other issue, I'll close this one as it's a duplicate.

[2022-02-12 20:37] #139 closed

[2022-02-13 14:28] aquelemiguel commented on #51
@rafaeldamasceno As discussed, moving the issue to @StaticRocket.

[2022-02-13 14:33] StaticRocket commented on #51
If @rafaeldamasceno is fine with it then sure!

[2022-02-15 12:35] rafaeldamasceno commented on #51
@aquelemiguel Regarding the examples you gave for the options I presented in #140, they are both correct.

The only feasible ways I see to implement this are two:

- The first one is to have it as booleans like `/play query:query all:true shuffle:true` where the all flags are optionals and the ones you want to activate need to be set to `true`, since it's the closest thing to flags (and unfortunat

[2022-02-15 13:41] aquelemiguel opened #141 "`/queue` isn't live updating with playlist enqueue"
Related to #92.
The queue command only updates when the entire playlist has been enqueued instead refreshing with each song.

Reproduce by calling `/queue` followed by `/play PLAYLIST_LINK`. It should only refresh the queue message after all songs have been queued.

There's already an `update_queue_messages(http, data, call, guild_id)` method to help with this.
Should just be a matter of calling i

[2022-02-15 18:09] joao-conde commented on #123
Alright, my proposed solution is one that:
1 - does not increase source and binary sizes with each new translation/locale
2 - can be easily contributed by open source devs
3 - custom translations can be easily be made locally

With that in mind, I propose the following:
- a `messaging.rs` module which implements a key `message(message_type, locale = "en")` function
- in that module, we keep the ba

[2022-02-15 23:58] afonsojramos opened #142 "Add logging capabilities"
## Rationale

When we have a deployed Parrot it is very useful to have logs in a file. I have actually had an occasion where the deployed parrot crashed for no reason in specific, and even after accessing the container logs I could not see anything. This would be solved by logging stuff into a file.

## Description

Implement an in-house logger/a logging framework.

## Reference

[Logging crates](

[2022-02-16 00:49] afonsojramos commented on #142
@aquelemiguel @joao-conde do you already have any preference over any logging framework?

[2022-02-16 09:02] joao-conde commented on #142
@afonsojramos nope, up to you. Do some due diligence and present some of your preferred choices.

But this one seems official: https://github.com/rust-lang/log
Its part of the rust-lang organization itself.

[2022-02-16 15:35] afonsojramos commented on #142
Will do! The official `log` crate is a red herring, since it is only a facade. Most loggers that I listed actually implement said facade.

[2022-02-16 16:05] joao-conde commented on #142
Ah, I see. All of these sound good: ![image](https://user-images.githubusercontent.com/16060539/154305781-c2285546-d9f1-4311-a9c4-d4e6e8590d09.png)

But what stops me from using these macros?

![image](https://user-images.githubusercontent.com/16060539/154305855-6d274f10-5cea-4895-89fb-7416129aa429.png)

[2022-02-16 16:24] afonsojramos commented on #142
Nothing 😅

[2022-02-16 16:49] joao-conde commented on #142
I think the lib we choose should cover the following:
1 - be as simple as possible, guaranteeing the next
2 - having simple functions/macros to output text at multiple levels (info debug error)
3 - being able to control where to send the logs through env vars (console, file, both, etc)

These properties allow us to set debug variables like `LEVEL=DEBUG` and `LOG=CONSOLE` for local development and

[2022-02-16 22:48] StaticRocket opened #145 "Prevent searches from being processed by playlist focused commands"
I completely forgot about this edge case in my last PR. If a search gets passed to ytdl with `/play (all, reverse, etc.)` it will silently fail.

[code]

Should a message be sent to inform the user that these commands only accept links?

[2022-02-16 22:53] aquelemiguel commented on #145
Hey again, @StaticRocket! Should already be handled in #144. 🙂

[2022-02-17 11:36] #145 closed

[2022-02-17 12:55] #141 closed

[2022-02-17 13:07] joao-conde commented on #51
All different play modes implemented, closing.

[2022-02-17 13:07] #51 closed

[2022-02-17 13:12] aquelemiguel commented on #51
Keeping it closed for now. If needed, let's open a separate issue regarding multiple flags for tracking. But realistically, we must wait until Discord supports some sort of [variadic arguments](https://github.com/discord/discord-api-docs/discussions/3286) to justify any changes.

[2022-02-17 13:17] joao-conde commented on #124
It is fine. I will do it.

I think there is no alternative to saving whenever a setting changes. I will abstract this into its module and function(s) but the person updating the setting must remember to update the serialized version.

As for serialization/deserialization, it should be pretty simple using serde.

The only problem right now is I think we don't have settings worth serializing. So I w

[2022-02-17 14:09] rafaeldamasceno opened #146 "Allow disabling the DJ role"
## Rationale

When the DJ roles were introduced, no alternative for keeping the old behavior was implemented (besides manually assigning the role to all members of a guild).

## Description

Allow, through a configuration command, disabling the DJ role as a requirement to use restricted commands. This allows a guild to keep the old bot behavior, should they wish so. Additionally, if implemented, m

[2022-02-17 14:13] rafaeldamasceno opened #147 "Any `/play` subcommand causes panic when enqueuing a playlist"
## Description

When using any `/play` subcommand with a playlist, a panic occurs.

## Expected vs. Observed

| - | - |
| --- | --- |
| **Expected** | The playlist is queued. |
| **Observed** | Nothing happens. |

## Repro Steps

1. Use any  `/play` subcommand with a playlist.
2. Observe nothing happened by running `/queue` after a while.

## Environment

Key | Value
-- | --
Operating System | Ubu

[2022-02-17 14:17] rafaeldamasceno opened #148 "Destructive `/play` subcommands aren't restricted"
## Description

Some newly added `/play` subcommands have destructive effects on the queue and should be restricted to DJ role members to keep in line with the other commands that do the same thing. They are `/play next` and `/play jump`.

## Expected vs. Observed

| - | - |
| --- | --- |
| **Expected** | The commands should be restricted to DJ role members. |
| **Observed** | The commands are unr

[2022-02-17 14:21] rafaeldamasceno opened #149 "`/play end` should just be `/play`"
## Rationale

The `/play end` suncommand should still be named the same, since it performs exactly the same as the old `/play`. Having it as subcommand creates confusion, since it isn't obvious that `end` refers to the main play command with the default and expected behavior.

## Description

Rework the subcommand `/play end` into the old `/play`.

## Addendum

I'm not sure whether the existence o

[2022-02-17 14:49] afonsojramos commented on #147
Which of the `/play` commands was used?

 If you used old play command without any subcommand specification, it was probably because Discord was still updating the commands, because now there is no `/play` command.

The new normal play command should be `/play end`.

[2022-02-17 14:52] rafaeldamasceno commented on #147
@afonsojramos Sorry I wasn't so clear. I first observed the issue on `/play jump` and thought the issue was restricted to that subcommand, but I have since understood every `/play` subcommand is affected. When rewording from the `jump` subcommand, I didn't make it clear. I have now reworded it again and it should be clear now that it affects every subcommand.

[2022-02-17 15:04] afonsojramos commented on #148
This is definitely something worth raising a discussion for. Permissions can only be set at a command level, therefore, since `next`, `end`, `jump`, etc. are subcommands, we cannot, at the moment, set different permissions to different subcommands.

If we do want to make these restrictions, the only solution that I can imagine at the moment is by splitting the playlist and normal videos commands..

[2022-02-17 15:06] afonsojramos commented on #149
Okay, I just proposed this to be the solution to #148, so I think we can kill two birds with one stone here as I agree that we should keep the normal `play` command as simply `/play`.

[2022-02-17 15:27] rafaeldamasceno commented on #147
This was a regression caused by 6eb5e6bcd60a625da3c9f02e75d370387d2e333a.

[2022-02-17 15:31] afonsojramos commented on #147
Oh, okay, this is actually easily fixable. The problem is that said code is not unreachable at all since the `query_type` is passed along from `enqueue_playlist` to `enqueue_song`.

[2022-02-17 16:15] rafaeldamasceno opened #153 "Concurrent playlist queuing causes out-of-order queue"
## Description

When multiple people are using a `/play` command with playlists, the tracks are added as soon as they are processed, which means the original order of the playlists isn't preserved.

## Expected vs. Observed

| - | - |
| --- | --- |
| **Expected** | The queued playlists are queued one after the other, in the order they were called. |
| **Observed** | Playlists are queued in an inte

[2022-02-17 16:19] afonsojramos commented on #153
I'm not sure if this is a bug or just expected behaviour, but I'm leaning towards the latter... 🤔

[2022-02-17 16:25] rafaeldamasceno commented on #149
That's a good suggestion (although in my mind it was suggested from "special play"). Another alternative is "advanced play", so `/aplay`, `/advplay` or any other variant.

[2022-02-17 17:22] #147 closed

[2022-02-17 18:17] rafaeldamasceno opened #154 "Add queue track number to `/skip`"
## Rationale

Sometimes you want to skip to a certain track in the queue.

## Description

Add an optional positive integer to the `/skip` command that the bot will skip to if the track exists.

[2022-02-17 18:20] rafaeldamasceno opened #155 "Add range end to `/remove`"
## Rationale

Sometimes you want to remove an entire range of songs from the queue.

## Description

Add an optional positive integer range end parameter. When set, instead of removing a single track from the queue, remove all tracks in the given range.

[2022-02-17 18:24] afonsojramos commented on #154
The issue train isn't set to leave any time soon 😅

Not 100% sure if we should add this as an optional or, as I said in #151, create a new command.

[2022-02-17 18:32] joao-conde commented on #153
If you take locks you prevent all commands from running, like if you lock while you enqueue 100 songs, I think you wouldn't be able to use other commands (@aquelemiguel  do you confirm)

[2022-02-17 18:51] rafaeldamasceno commented on #154
You've just made me realize this would actually be for `/forceskip` 🤣 A new command is even more clutter IMO, but could I live with it. The optional doesn't bother anyone that doesn't want to use it, and the command would function normally otherwise.

[2022-02-17 23:29] aquelemiguel commented on #154
I like it! Better have it as its own command like `/skipto`, I'm sure a few other music bots used this naming.
Please don't be afraid of adding more commands! This is usually better than cramming arguments to existing ones.

[2022-02-17 23:33] rafaeldamasceno commented on #154
Should it then be called `/forceskipto`? I’m willing to admit half of the reason I wanted it to be an optional argument is because the name sucks, or is inconsistent if we name it what you suggested :P

[2022-02-17 23:34] danrpinho commented on #149
I feel that using `/splay` would be inconsistent with other commands such as, for example, `/forceskip`. I wouldn't mind if this advanced play command had a longer name (like `/superplay` or `/advancedplay`), since Discord has an autocomplete function and we could just use tab-complete to access it.

[2022-02-17 23:44] rafaeldamasceno commented on #148
I’ve said before that I don’t really use the DJ role, so if this is what you expect from it, then I’m fine with it, especially if #146 is implemented. Another possibility is to only restrict the advanced play commands group and keep the default open, but again, as long as I have the option to disable DJ, they could all be restricted. I’m just going to bring attention to this one last time: is ther

[2022-02-17 23:44] aquelemiguel commented on #153
@joao-conde @rafaeldamasceno I can confirm this is 100% expected behaviour and that when a command locks the Songbird handler, it locks it for the entire application. This means that you would not be able to use any other commands that interact with the queue while the playlist is processing (this is a big no-no).

I'm a little more concerned with this instead, could you provide repro steps for th

[2022-02-17 23:47] aquelemiguel commented on #148
Absolutely not possible, check the [red box in the docs](https://discord.com/developers/docs/interactions/application-commands#subcommands-and-subcommand-groups).

[2022-02-17 23:54] aquelemiguel commented on #149
@danrpinho I really like `/superplay`!

[2022-02-17 23:55] rafaeldamasceno commented on #148
Well, that’s that, then. I really think the `/play end` nomenclature is really weird and confusing, even for anyone that has been regularly using Discord music bots, so I’m in favor of moving the subcommands to a `/superplay` base command (which is now my favorite name. Thanks @afonsojramos, although I may be influeced by the MacBook I’ve started using :P).

[2022-02-18 00:05] aquelemiguel commented on #148
Let's hear it from the rest of the contributors, but I completely agree with you here.
@afonsojramos @joao-conde If we're all on the same page, let's re-open #151 to perform these changes.

[2022-02-18 00:12] aquelemiguel commented on #153
@rafaeldamasceno @danrpinho Don't get me wrong, it's intended but I agree it's confusing behaviour.

I can't think of a simple way to implement this other than creating a queueing system where tracks wait for their turn to be decoded. I think this is actually a cool improvement.

[2022-02-18 00:29] aquelemiguel commented on #123
Sorry for taking a while to get on this, but I overall really like your implementation! 🙂

A follow-up question: what if for some reason a translation isn't available? For instance, a contributor that has to add a new constant cannot possibly know every translation. Do we default to English?

Keep it local, easier and encourages easy open-source contributions. 😎

[2022-02-18 00:48] aquelemiguel commented on #154
@rafaeldamasceno Both an optional arg to `/forceskip` and a new `/skipto` command sound good to me. I find the latter a bit more intuitive, but I'll leave the decision to you guys. Anything except the `/forceskipto` eyesore. 😄

[2022-02-18 01:44] afonsojramos commented on #154
Okay okay, breathing some fresh air to this:

Get rid of `forceanything` and everything is either `/skip` or `/skipto`, and we check manually for the role. This way we remove the clutter of double the commands needed and easily add this feature of skipping to a certain track.

[2022-02-18 01:53] aquelemiguel commented on #154
I really really like this.

[2022-02-18 10:15] joao-conde commented on #123
The default would be English, yes. It would be basically lookup for JSON file translation (actually this will be loaded into memory at startup) and if it does not exist, use the default string.rs current English messages.

[2022-02-18 10:26] joao-conde commented on #148
Go for it

[2022-02-18 10:29] joao-conde commented on #153
@danrpinho this would block everything, meaning while you queue 100 songs, for about, I don't know, 2 minutes, you can't use ANY command, like /queue /np and what not. This is absolutely not great.

[2022-02-18 10:30] joao-conde commented on #153
We would need to implement our own queueing system or separate thread that then enqueues it. Seems we are over-engineering it for a not-so-common use case that is not that shocking. In fact, we should probably look into speeding up the enqueueing system itself :D

[2022-02-18 10:33] rafaeldamasceno commented on #154
While I appreciate the sentiment behind this solution, even if I’m a DJ I could wish to respect the skip vote and cast a vote myself. I have one last suggestion: rename the current `/skip` into `/voteskip` (because that’s what it really does) and then `/forceskip` into `/skip`. This way, `/skipto` makes a lot more sense.

[2022-02-18 10:37] aquelemiguel commented on #123
Sounds good, proceed with the implementation. 🙂

[2022-02-18 10:38] rafaeldamasceno commented on #153
That would be a great idea! In fact, most bots I have used before were really fast at queueing tracks. The one I ran before only downloaded metadata for queueing purposes, and only downloaded the track when playing (in fact, a lot of times it errored out because it wasn’t able to play it).

[2022-02-18 10:44] aquelemiguel commented on #154
I think this is the way. 🙂

[2022-02-22 09:33] afonsojramos commented on #154
In #158 I implemented something that was talked outside GitHub, which is a merger between my initial proposal and this. Essentially, the commands are now `/skip` and `/voteskip`, where `/skip` is a DJ command, and there is no `/skipto` since both now have an optional command, which represents the track they want to skip to.

[2022-02-22 11:58] aquelemiguel opened #159 "`/queue` live updating should happen after queue manipulation"
Queue isn't live updating correctly with some `/superplay` commands, because the updating is being done at `enqueue_song` level but songs switch position afterwards in some commands, like `/superplay next`.

[2022-02-22 11:58] #148 closed

[2022-02-22 11:58] #149 closed

[2022-02-23 11:35] afonsojramos commented on #155
How should this be displayed to the user?

Right now we have this:
<img width="420" alt="image" src="https://user-images.githubusercontent.com/19473034/155311725-793b16e3-3342-4303-bd0d-07f55806541a.png">

The index is currently the only parameter and is required (obviously), should we simply add an optional `until` (other name suggestions accepted) parameter to ask for the end of the range?

[2022-02-23 12:11] aquelemiguel commented on #155
An optional parameter sounds good! May I suggest renaming `index` to `start` and introducing `end`?

[2022-02-23 12:18] afonsojramos commented on #155
@aquelemiguel this is the same problem as with the skip optional. I sort of disagree with renaming `index` to `start`, because if you are simply removing one of the tracks it is not the start of anything. The range removal is a feature that only exists if the `until` optional is sent.

[2022-02-23 12:22] aquelemiguel commented on #155
I don't see "start" as necessarily needing an "end" to make sense, but I see your concern. "until" is fine as well. 🙂

[2022-02-23 12:28] rafaeldamasceno commented on #155
I like `index` and `until`, mainly for the reasons @afonsojramos has described. Personally, I don't even think that the `index` tooltip needs to be changed, unless you want to do some "Position of the (starting) track (...)" shenanigans. I'd rather have the `until` tooltip be more descriptive:

[2022-02-23 13:09] afonsojramos commented on #155
1. Add a subsequent track position to remove a range of tracks.
2. If set, remove a range of tracks from index until the one set here instead.

I also considered a variation of 2 at the time, but from these two, I chose 1 because if `until` is an optional parameter it is already implicit that it only applies if set.

[2022-02-23 20:53] #155 closed

[2022-02-24 23:13] #159 closed

[2022-02-25 15:42] afonsojramos opened #163 "Clippy on `main` is failing due to Rust's `1.59.0`"
## Description

Due to the release of [Rust `1.59.0`](https://blog.rust-lang.org/2022/02/24/Rust-1.59.0.html) the `main` branch's [clippy workflow is failing](https://github.com/aquelemiguel/parrot/runs/5327167853) because clippy runs on the `stable` toolchain. The errors are detailed within the report.

[2022-02-25 20:03] #163 closed

[2022-02-27 02:21] afonsojramos commented on #142
This ended up being something that is not needed as the overhead is too much for little benefit since we can simply run `docker logs` to check out the logs of the container.

I raised this issue because I was passing without my knowledge, due to `lazydocker`'s defaults, the flag `--since=60m`, which would block me from seeing a lot of logs.

[2022-02-27 02:21] #142 closed

[2022-03-03 20:16] aquelemiguel commented on #138
@afonsojramos Sure. ☺️

[2022-03-04 19:11] aquelemiguel commented on #88
No fucking way, I think I got it.

[2022-03-06 22:00] #88 closed

[2022-03-12 17:23] aquelemiguel opened #170 "Clear queue after disconnect"
## Rationale

The bot preserves its queue even if disconnected. This shouldn't happen because it leads to confusing situations like the bot being summoned already playing a track that was enqueued in the day before.

## Description

After leaving a voice channel (in all cases, be it a manual, an idle or a `/leave` disconnect), the queue should be cleared.

[2022-03-14 10:51] afonsojramos opened #171 "Parrot is not disconnecting for inactivity"
## Description

After a whole night, the bot stayed in the room without disconnecting.

<img width="230" alt="image" src="https://user-images.githubusercontent.com/19473034/158155090-2aee6972-7249-4fb0-981a-4b4b464540fb.png">

This happened because of the following:
<img width="595" alt="image" src="https://user-images.githubusercontent.com/19473034/158157620-6aa4be0b-7d5c-48f4-a0e3-49ebebb765ab.p

[2022-03-14 12:27] afonsojramos opened #172 "Live video duration overflow"
## Description

`overflow when subtracting durations` on a live video.

[code]

## Repro Steps

These were the assumed steps to reproduce this issue, however, I haven't been able to reproduce it again.
1. Play a live video on youtube
2. Pause it
3. After a while it seems that this error occurs.

## Environment

| Key | Value |
| --- | --- |
| **Parrot** | `1.3.1` |
| **Operating System** | Debian

[2022-03-14 13:09] afonsojramos opened #173 "Self deafen fails to `get_current_user`"
## Description

Self deafen function fails to `get_current_user`. This can be easily fixed by just handling the error.

This seems like an error that we don't really care so I would say that we just need to ignore it.

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/19473034/158177062-475b3501-5a05-4013-8b75-45ac6cb9842b.png">

https://github.com/aquelemiguel/parrot/bl

[2022-03-14 14:42] afonsojramos commented on #173
@aquelemiguel I have no idea, and looking at out activity in our server, it doesn't seem like something that happens as a result of something in specific 🤔

[2022-03-14 21:24] #50 closed

[2022-03-14 21:47] #173 closed

[2022-03-15 22:52] #171 closed

[2022-03-16 00:12] afonsojramos commented on #170
This only happens in a manual or a `/leave` disconnect, right? Since the idle only happens when nothing is playing, right? Or did I misunderstand from the last PR #176?

[2022-03-16 01:27] aquelemiguel commented on #170
AFAIK no disconnects are clearing the queue, so even if you queue a track, pause it and either have it idle disconnect or do it manually, when you re-summon it, the track will stay there. #176 is just ensuring the auto-disconnect works, not that the queue is getting flushed.

[2022-03-16 10:18] afonsojramos commented on #170
What I meant is that it would never auto disconnect if it was playing music, but indeed if it is on pause it does retain the queue...

Food for thought, if someone accidentally disconnects the bot and quickly summon it back, should it retain the queue?

[2022-03-16 11:16] aquelemiguel commented on #170
Good question, I don't really know? I guess for consistency, yeah?

[2022-03-16 14:27] afonsojramos commented on #170
I'll take it as a "yeah it should clear the queue", even though the question was the other way around 😅

The only reference to disconnects in Serenity's documentation has been [this](https://docs.rs/serenity/latest/serenity/gateway/enum.ConnectionStage.html#variant.Disconnected), which I'm not sure if it applies.

[2022-03-16 14:30] aquelemiguel commented on #170
Yeah, my bad, I got it backwards. I probably think it should clear.

[2022-03-30 21:47] #170 closed

[2022-03-30 22:29] aquelemiguel opened #181 "Unexpected idle disconnects"
### 📝 Description

While its logic is correct, #176 introduced a bug where the bot unexpectedly idle disconnects. This is because sometimes skipping a track does not remove it from the queue, but instead keeps it at the top in a paused state. This makes the idle counter not reset and thus may prompt the bot to disconnect earlier than expected if this bug persists on the following tracks.

We shoul

[2022-03-31 09:16] #181 closed

[2022-04-07 22:18] afonsojramos opened #186 "Handle age restricted videos"
### 📝 Description

Found this error while looking for logs in our deployment. Should be a simple fix!

### 🪜 Reproduction Steps

1. Play age restricted video
2. Profit

### ℹ Environment / Computer Info

- **Parrot version**: `latest`
- **Operating System**: `ubuntu`

### 📸 Screenshots

_No response_

[2022-04-08 01:06] aquelemiguel opened #188 "Leaving channel alongside other users"
### 📝 Description

This is a bug introduced after #178 where whenever Parrot detects a `voice_state_update` event, it leaves the channel. This makes sense if the event is from the bot, but right now it's taking into account every user in the channel. This means it always leaves alongside other users.

### 🪜 Reproduction Steps

1. Summon the bot
2. Leave the channel
3. Bot left with you ❤️

### ℹ E

[2022-04-08 12:35] #188 closed

[2022-04-18 23:29] aquelemiguel opened #191 "this is a test issue to test telegram"
### 📝 Description

sdfg

### 🪜 Reproduction Steps

1. The first step
2. The second step
3. ...

### ℹ Environment / Computer Info

- **Parrot version**: ` `
- **Operating System**: ` `

### 📸 Screenshots

_No response_

[2022-04-19 23:43] aquelemiguel opened #192 "Do not fail silently when track is not found"
### 📝 Description

When searching for a track, sometimes yt-dlp won't return anything (most likely because it could not find the specified query).
At the time of writing, the yt-dlp command below doesn't output anything.

[code]

This naturally makes our queueing step fail because there's no data.

![image](https://user-images.githubusercontent.com/5618493/164118354-c192527f-d74d-4afd-9ad6-f0d9297

[2022-04-20 00:05] aquelemiguel commented on #15
After experimenting for a few days, this revealed itself to be tougher than initially expected. This is because yt-dlp only does the Sponsorblock step after downloading the video. That's terrible because it now forces us to first download the track, trim it and then stream it (and I guess eventually delete it). Too much hassle for a small niche feature.

If we ever add playback support for local f

[2022-04-20 00:05] #15 closed

[2022-04-20 11:14] #192 closed

[2022-04-20 14:33] #186 closed

[2022-04-21 23:33] afonsojramos commented on #172
Yeah, I've never been able to see it again. I have a hunch that it was caused by an older version of Rust... 🤔 I'll close this. We can reopen if we find it again.

[2022-04-21 23:33] #172 closed

[2022-05-22 20:09] StaticRocket opened #196 "Command permission update procedure has changed"
### 📝 Description

Looks like discord updated the way command permissions are handled:
https://discord.com/developers/docs/change-log

Now it requires the use of a bearer token:
https://discord.com/developers/docs/topics/oauth2#client-credentials-grant

Serenity seems to have some level of support for this:
https://github.com/serenity-rs/serenity/blob/f82a16dae0c5b1910598115b264a66fb8182a340/src/m

[2022-05-22 20:30] joao-conde commented on #196
Thanks for the bug report @StaticRocket ! We'll take a look into it when possible.

[2022-05-22 20:32] StaticRocket commented on #196
I'm taking a stab at it now but I wanted to make sure it was documented

[2022-05-22 20:53] StaticRocket commented on #196
Actually while skimming through the information this doesn't seem like something we should be doing. Bearer tokens seem to be temporary access tokens to the bot creators account, in which we assume they have permissions required to edit guild settings.

This will not always be true so maybe we should just remove command permissions by default and document the desired roles and such in the wiki.

[2022-05-22 21:29] StaticRocket commented on #196
Jesus. Alright, they have removed the ability for bots to directly control permissions for each command. They instead have added granular control for this in the integrations panel for the server where the bot resides (this is good) and now have a way for the bot to suggest defaults (also good). Unfortunately they neglect to say just how this should be done moving forward: https://support.discord.

[2022-06-08 01:25] StaticRocket commented on #196
The solution to this issue should also address #146

[2022-07-26 13:54] rafaeldamasceno opened #199 "Bot cannot play any song"
### 📝 Description

When the bot boots and when playing a song, an error occurs which prevents the bot from playing anything.

[code]

### 🪜 Reproduction Steps

1. Run the bot
2. Use the `/play` command

### ℹ Environment / Computer Info

Key | Value
-- | --
Parrot version | v1.4.2
Operating System | Ubuntu 20.04.4 LTS focal
Kernel | Linux 5.15.0-41-generic x86_64
CPU |  Intel(R) Celeron(R) N5095 @

[2022-07-26 14:00] afonsojramos commented on #199
This is most likely due to some change on Discord's side. [Songbird](https://github.com/serenity-rs/songbird/releases/tag/v0.3.0) had an update recently that might fix this, however, it requires some investigation.

[2022-07-26 14:09] rafaeldamasceno commented on #199
Upon further investigation, I have found out that the bot does not play in servers where it was not able to create a DJ role (which the now deprecated endpoint does not allow).

[2022-07-26 14:15] afonsojramos commented on #199
Right! This was indeed a recent change in how they are handling permissions. Reading from [here](https://discord.com/developers/docs/interactions/application-commands#permissions) it seems that the bot token is no longer supported and now a bearer token is needed with the [applications.commands.permissions.update](https://discord.com/developers/docs/topics/oauth2#shared-resources-oauth2-scopes) sc

[2022-07-27 15:59] StaticRocket commented on #199
@afonsojramos @rafaeldamasceno That's what I was talking about in #196

Bearer tokens are not a safe way to do that because they need to come from an account that has permission to add roles in the server, and they have to be renewed constantly. This was a not so subtle push to get bots to stop setting up their own management groups and instead use the manual role+permission per command system the

[2022-07-27 16:01] rafaeldamasceno commented on #199
You're absolutely right, I overlooked that the changes were already causing the bot not to work at the time you reported it. I'll close this issue as a duplicate of #196.

[2022-07-27 16:01] #199 closed

[2022-08-01 05:17] ArtifyCZ opened #200 "Customizable status"
### 🧐 Rationale

I think it would be great to be able to tell the bot what it should have in the status.
Now it has `LISTENING TO /PLAY`, but something like `WATCHING /PLAY` would be great too.

### 📝 Description

Customizable Discord status by setting an environment variable

### ➕ Additional Information & References

![image](https://user-images.githubusercontent.com/57506608/182077110-0a4b16fb-

[2022-08-02 14:46] afonsojramos commented on #200
This is something that we do not plan to do for the time being.

[2022-08-02 14:46] #200 closed

[2022-08-02 21:54] #196 closed

[2022-08-02 21:54] #146 closed

[2022-08-24 05:28] StaticRocket opened #201 "Interaction has already been acknowledged."
### 📝 Description

So there's been a change to the way interaction responses are handled which causes some issues with the error reporting.
If we attempt to create a new response and there's already an existing response the following is returned:

[code]

It's an easy fix, but I figured I would ask how we'd like to address it:
A) Clobber the old response with the new one
B) Create a followup messa

[2022-10-16 20:24] #201 closed

[2022-10-16 23:16] StaticRocket commented on #153
Eh, from what I've seen there's not a lot we could do for that. We could attempt to add some form of `info.json` caching and loading, but the initial lookup is still ~1 second unless we want to start querying directly through an intertube api host.

Really unfortunate. I was hoping some of the Piped mirrors they added to the extractor would help with lookup times.

[2022-10-17 04:15] StaticRocket opened #203 "Error handling regression from #202"
### 📝 Description

I'm an idiot and should have done some more testing. Apparently followup messages aren't allowed if there is no initial response. This means there is no quick fix for error handling using followup messages, and my original idea for error handling has to be implemented.

I'll drop the followup messaging and instead modify create_embed_response so that will edit the initial respon

[2022-10-24 15:04] aquelemiguel commented on #11
In retrospect, I don't personally see the need for a command like this and I'm a bit reticent how Parrot would handle editing potentially deleted messages (I suppose we should keep this in mind regardless).

Also, would it make sense deleting queue messages given that they live update? I think this change would add unneeded complexity to the code and I'm in favor of closing this issue if you're as

[2022-10-24 22:29] joao-conde commented on #11
We have and most servers will have a specific command for bots. So I would say we can close this.

[2022-10-24 22:32] afonsojramos commented on #11
In the case of big servers the original message can get lost quite quickly, so I still think this would be a welcome feature, even if we don't develop it right away.

As for the commands for bots, I'm not so sure that servers have message cleaning specific for bots. Maybe for whole channels, but I haven't seen it for bots in specific.

[2022-10-25 00:24] aquelemiguel commented on #11
Thank you both for your inputs. I think @joao-conde meant servers usually have a dedicated text channel for music bots?
IDK, this is a music bot, I don't see the need for cleaning - there are plenty of bots out there that already do this.

I'm closing it as not planned for the time being.

[2022-10-25 00:27] #11 closed

[2022-10-25 14:26] #203 closed

[2022-10-25 17:44] aquelemiguel opened #207 "`/superplay next` with an empty queue throws ParrotError::NotInRange"
### 📝 Description

The `insert_track` function should account for the queue possibly being empty. Right now, it's responding with a confusing (and incorrect) error. In that case, it should just insert the track on the first position.

### 🪜 Reproduction Steps

1. Ensure the queue is empty.
2. Call **/superplay next query: asdf**.
3. Parrot should reply with "_index should be between 1 and 0 but wa

[2022-10-25 18:41] aquelemiguel opened #209 "Allow streaming from other yt-dlp supported sources"
### 📝 Description

yt-dlp allows for streaming from multiple other sources other than YouTube. [A lot more actually](https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md).

In the play command, we check the query/url in this fashion:

[code]

There are a few issues with this approach:
* It limits the source to YouTube, meaning a user would not be able to stream from SoundCloud, Twitter o

[2022-10-25 18:43] aquelemiguel commented on #209
Asking for your input @joao-conde and @afonsojramos as to what would be the best approach for distinguishing a YouTube query from a valid YouTube link.

[2022-10-25 19:28] joao-conde commented on #209
Not just valid youtube link, but all other links from https://github.com/yt-dlp/yt-dlp/blob/master/supportedsites.md right?
Can check for the http:// begining and if not present assume its a query.

Additionally, we could have blacklisted sites, like p**rnhub, or allow that to be set on a per guild basis, using our guild settings

[2022-10-26 09:38] aquelemiguel opened #210 "`/superplay jump` does not update interaction response"
### 📝 Description

It seems that if there are at least two tracks in the queue, invoking `/superplay jump` - even if it works correctly - does not update the interaction response with the "Now playing" message.

### 🪜 Reproduction Steps

1. Add at least two tracks to the queue.
2. Invoke `/superplay jump query: ...`.
3. The bot will respond with "🔎 Searching...", immediately play the track (as exp

[2022-10-26 10:43] #207 closed

[2022-10-31 03:41] aquelemiguel commented on #209
@joao-conde I've got an implementation on the works, it's just missing the blacklist. How would you add this? Would mods have to add every single 18+ website manually? There are a lot of supported websites, would be a chore.

[2022-10-31 06:39] StaticRocket opened #211 "Spotify source has issues if service is ran for an extended duration"
### 📝 Description

The Spotify source has issues looking up queries after the service has been running for a few days. I believe this is related to the auth routine but I haven't had time to properly debug this yet.

This may straight up be a byproduct of me running this on a machine without ECC memory, but it seems a little too consistent for that.

### 🪜 Reproduction Steps

1. Leave parrot runni

[2022-10-31 15:35] joao-conde commented on #209
Better to have some control than none. Mods would do something of an includes logic, like "/block porn" would block sites with porn in the name. "/block actuallydomain.com" would block URLs with that.

[2022-10-31 15:43] StaticRocket commented on #209
Easiest solution to implement would be have a switch to toggle default behavior (allow/block all) and then mods provide overrides for each domain. It goes without saying that any command specific solution would depend on #124 , unless we just want to say whoever sets up the bot gets to decide and slap it into an env var.

[2022-10-31 15:49] joao-conde commented on #209
Nah we need the settings. I am un-assigning myself, can't finish it. Feel free to @StaticRocket or @aquelemiguel

[2022-11-07 20:07] afonsojramos opened #213 "Clippy errors on latest workflow"
### 📝 Description

The latest workflow triggered by a tag has raised clippy errors: https://github.com/aquelemiguel/parrot/actions/runs/3413596358/jobs/5680497547

### 🪜 Reproduction Steps

N/A

### ℹ Environment / Computer Info

- **Parrot version**: `1.4.3`
- **Operating System**: `N/A`

### 📸 Screenshots

_No response_

[2022-11-07 21:56] #213 closed

[2022-11-08 01:10] aquelemiguel commented on #211
I haven't been able to properly debug it either, but it's also happening on our deploy:

thread 'tokio-runtime-worker' panicked at 'failed to create response: Serenity(Http(UnsuccessfulRequest(ErrorResponse { status_code: 404, url: Url { scheme: "https", cannot_be_a_base: false, username: "", password: None, host: Some(Domain("discord.com")), port: None, path: "/api/v9/interactions/103667365842231

[2022-11-08 02:01] StaticRocket commented on #211
@aquelemiguel , that looks like a serenity error. From the error it looks like it may be trying to edit an interaction that doesn't exist. I wasn't getting the same error when I initially submitted this issue, but that doesn't mean it's not related...

[2022-11-08 02:33] afonsojramos commented on #211
@aquelemiguel However, the deployed version is 1.4.2, which is a bit far from what we currently have. Let's release 1.4.3 soon and recheck.

[2022-11-08 03:58] aquelemiguel commented on #209
@StaticRocket @joao-conde I'm experimenting with the new modals feature for this allow/block domains config.
It's fetching the allowed list from the GuildSettings and (should soon) update it on submit.

Opinions? I think it looks neat and cuts down on the # of commands we'd need otherwise.

![image](https://user-images.githubusercontent.com/5618493/200470649-fbd7cb80-f571-40c3-b82b-84757974a022.pn

[2022-11-08 05:06] StaticRocket commented on #209
@aquelemiguel , the only concern I have is if the default behavior should be an allow list or a block list. I see one being useful for keeping things under lock and key but for those running the bot on a trusted server it may be tedious to allow *almost* all domains one by one.

[2022-11-08 10:35] joao-conde commented on #209
I think it should be a black list approach, by default allow all. The modal looks good to me.

[2022-11-08 11:01] aquelemiguel commented on #209
@StaticRocket @joao-conde Taking both your inputs into account, please feedback on this approach where we'd add two required fields to the modal - an allow list and a block list:

* I think by default all domains except for youtube.com should be blocked, so this should be the modal's initial state:

* If a mod wants to just block a few specific domains, they can add a wildcard to the allow list an

[2022-11-08 11:19] joao-conde commented on #209
@aquelemiguel I was suggesting the exact opposite, and so was @StaticRocket  I think.

- have only a black list
- all domains are allowed except the ones on the black list
- black list domains are added as "strings" that if "contained" in the domain, it is blocked

[2022-11-08 11:22] afonsojramos commented on #209
@joao-conde Initially, I was also supporting that approach, however, I do see the value for large servers to work on an AllowList.

[2022-11-08 11:26] aquelemiguel commented on #209
@afonsojramos

Yes, it reads from and writes to the GuildSettings, so if you were to block a domain, I would see it upon opening the modal.

Definitely, that's what I suggested!

[2022-11-08 12:02] joao-conde commented on #209
Agreed, go with 2 lists for allowed and unallowed

[2022-11-09 05:10] afonsojramos opened #217 "Using miette as a diagnostic library"
### 🧐 Rationale

[miette](https://github.com/zkat/miette) has existed for quite a while and is a really good tool to debug. Previous bug reports could have been validated much faster with it for example. However, it is not plug and play and it does take some implementation.

### 📝 Description

Implementing miette.

### ➕ Additional Information & References

_No response_

[2022-11-26 03:44] LiftedStarfish opened #224 "Allow users without DJ role to skip songs they've requested."
### 🧐 Rationale

Often, users request songs using a query string, and the video that the bot selects is not the one that they intended, and it would be nice the bot kept track of which user requested the songs in the queue, so that if the same user that requested a song requests to remove or skip that song, the DJ role requirement is ignored.

### 📝 Description

The bot keeps track of which user r

[2022-11-26 14:19] aquelemiguel commented on #224
Hi and welcome, @LiftedStarfish!

I like your suggestion. As you said, Parrot does not track which user queued a track. Adding that would not only be good for your use case but also for info purposes in the /np and /queue commands. Opinions on this, @joao-conde and @afonsojramos?

[2022-11-27 20:28] joao-conde commented on #224
Seems useful and a good feature

[2022-11-27 20:38] StaticRocket commented on #224
Lads, the DJ role has been removed in favor of discord permissions, which are applied base on users and roles to individual /commands , so either the user will never be allowed to invoke the /skip command because Discord forbids it, or they can and they would have permission to skip anyway. We don't have any wiggle room with this unless we add another command in addition to the extra tracking whic

[2022-11-27 20:38] LiftedStarfish commented on #224
Um, I appreciate your faith in me, and I'd love to implement this, but um... I haven't the first clue any how I would actually do that. Was just suggesting a feature. The most sophisticated program I've ever written to date is a very simple integer radix converter. I only forked it for the purposes of studying it, but I don't really know what I'm looking at.

So, unless somebody's willing to take

[2022-11-30 10:20] #209 closed